body {
  margin: 0
}

/* Div styles */

.div-main-view {
  width: 570px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  padding: 5px 5px;
  border: 5px;
  border-style: outset;
}

.div-app-height {
  height: 100vh;
}


/* Tic tac toe font */

@font-face {
  font-family: Pixelfont;
  src: url(../assets/fonts/04B_30__.TTF)
}
.font-family-ttt {
  font-family: Pixelfont;
}
.title-font-color {
  color: #555758;
}
.game-font-color {
  color: #6C757D
}
.symbol-color {
  color: red
}

/* Borders */

.border-input {
  border: outset;
  border-radius: 2%;
}

/* Symbol buttons */

.symbol_selected_button_size {
  height: 38px;
  width: 40px;
}